<?xml version="1.0"?>
<launch>
    <arg name="no_static_map" default="false"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find ackermann_navigation)/config/traversability_map/traversability_costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find ackermann_navigation)/config/traversability_map/traversability_costmap_common_params.yaml" command="load" ns="local_costmap"/>

        <rosparam file="$(find ackermann_navigation)/config/traversability_map/traversability_local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find ackermann_navigation)/config/traversability_map/traversability_global_costmap_params.yaml" command="load"/>

        <rosparam file="$(find ackermann_navigation)/config/traversability_map/traversability_move_base_params.yaml" command="load" />
        <rosparam file="$(find ackermann_navigation)/config/traversability_map/base_local_planner_params.yaml" command="load"/>

        <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    </node>
    <!--<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /odom 100"/>-->
</launch>
